* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    margin: 0px;
    height: 100%;
}
header {
    height: 125px;
    width: auto;
    position: relative;
    top: 0px;
    background-color: rgb(41, 41, 41);
}    
nav {
    display: block;
    float: right;
    position: absolute;
    top: 90px;
    margin: auto;
    right: 1px;
    padding: 5px;
}  
nav > a {
    color: white;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    word-spacing: 15px;
}
nav > a:hover {
    color: red;
    font-size: 135%;
}
article {
    width: 100%;
    margin: 0;
    color: black;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px gray;
   
}   
article > h2 {
    display: inline;
    color: black;
    width: 60%;
    margin: auto;
    padding: 10px;
    position: relative;
    top: 5px;
    left: 30%;
    right: 30%;
    text-shadow: 1px 1px black;
}    
article > p {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2;
    font-size: large;
    text-align: center;
    padding: 10px;
}
ul {
   list-style: none;
   font-size: 20px;
}

.headerLogo {
    display: inline-block;
    height: 125px;
    width: auto;
    position: relative;
    top: 50px;
    left: 10px;
    color: white;
    text-shadow: 2px 2px 0 red;
    
}
.phoneNumber {
    display: inline;
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: xx-large;
    font-weight: bold;
    margin: 10px;
    color: white;
}
#image_slider { 
    display: inline-block;
    margin: auto;
    position: relative; 
    height: 400px;
    width: 100%; 
    height: 400px; 
    z-index: 0;
  }
#image_slider > div { 
    display: inline-block;
    margin: 1px;
    height: 400px;
    width: 100%;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    z-index: 0;
}
.slides {
    width: 100%;
    height: 400px;
    box-shadow: 4px 4px 4px 4px rgb(37, 37, 37);
    z-index: 0;
    
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 200px;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.services_container {
      
     
}
.services_column {
 
}
.services_column > img {
    
}
.contact_info > h1, h3 {
    display: block;
    margin: 20px;
    text-align: center;
    height: auto;
    width: 100%;
    color: rgb(85, 58, 58)
}
.form_container {
    display: inline-table;
    height: 150px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    color: white;
    padding: 20px;
  }
form {
    display: inline-table;
    height: 100px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 5px;
    color: white;
    border: 2px solid black;
    padding: 20px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 2px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=submit] {
    background-color: rgb(156, 27, 27);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.appt_box {
    display: inline;
    height: 70px;
    width: 300px;
    padding: 20px;
    position: absolute;
    left: 10%;
    top: 80%;
    z-index: 100;
    color: white;
    text-align: center;
    font-size: large;
    border: 3px solid none;
    border-radius: 10px;
    background-color: red; 
}



